<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  <div th:if="${failureMessage != null}" th:text="${failureMessage}">
  </div>
  <div>
    <form th:action="@{/v1/login}" method="post">
      <table>
        <tr>
          <th>아이디</th>
          <td><input type="text" name="username" /></td>
        </tr>
        <tr>
          <th>비밀번호 </th>
          <td><input type="password" name="password" /></td>
        </tr>
      </table>
      <input type="submit" value="로그인" />
    </form>
  </div>
</body>

</html>
