@import url("../common/navbar.css");
@import url("../common/modal.css");

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row.g-3.my-4 {
  display: flex;
  justify-content: center;
  align-items: center; /* 중앙 정렬을 위한 수직 정렬 추가 */
  width: 100%;
}

.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

table {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  table-layout: auto;
  text-align: center;
  word-break: break-all;
}

th,
td {
  white-space: normal;
}

.fixed-width-td {
  width: 30%;
  word-wrap: break-word;
}

button {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

/* 모달 이미지 크기 및 중앙 정렬 */
.modal-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-height: 310px; /* 최대 높이 설정 */
  max-width: 220px; /* 최대 너비 설정 */
  height: auto; /* 높이를 자동으로 조절 */
}
