<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>국가 옵션</title>
</head>

<body>
  <th:block th:fragment="nationOptions">
    <option value=""></option>
    <option value="대한민국">대한민국</option>
    <option value="미국">미국</option>
    <option value="일본">일본</option>
    <option value="홍콩">홍콩</option>
    <option value="영국">영국</option>
    <option value="프랑스">프랑스</option>
  </th:block>
</body>

</html>
