<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
  <!-- 네비게이션 -->
  <nav th:fragment="navbar(activePage)" class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:classappend="${activePage == 'home'} ? 'active'" href="/v1">홈</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:classappend="${activePage == 'movies'} ? 'active'" href="/v1/movie">영화 조회</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:classappend="${activePage == 'wishes'} ? 'active'" href="/v1/wish">위시리스트</a>
        </li>
      </ul>
    </div>
  </nav>
</body>

</html>